<!DOCTYPE html>

<html lang="en">

<head>

  {{>headStuff}}

  <link rel="stylesheet" href="/css/mail/small-stuff.css">

</head>

<body>

  <div class="big-wrapper">

    <main>

      <div class="main-content">

        <div class="bsxx-hol">

          <h1>Feedback Sent!</h1>

          <p>Your feedback has been received</p>

          <small>

            Proceed to the website at

            <a href="{{ frontendLocation }}" target="_blank" rel="noopener noreferrer">{{siteName}}</a>

          </small>

        </div>

      </div>

    </main>

  </div>

  {{>messages}}

</body>

</html>