<div class="mini-message-holder">

  <div class="mini-message">

    <div class="message-context"></div>

  </div>

</div>

<div class="small-message-holder">

  <div class="small-message">

    <div class="message-context"></div>

    <span class="cancel-x"><i class="el-so-times"></i></span>

  </div>

</div>

<div class="normal-message-holder">

  <div class="normal-message">

    <div class="message-context"></div>

    <span class="cancel-x"><i class="el-so-times"></i></span>

  </div>

</div>

<div class="x-message-holder">

  <div class="x-message">

    <div class="message-context"></div>

  </div>

</div>